.main {
  width: 670px;
  height: 960px;
  border: 1px solid #aacdff;
  top: 60px;
  left: 625px;
  border-radius: 20px;
  box-shadow: 7px 7px 39px 0px rgba(0, 104, 255, 0.25);
  transform: translate(10%, 5%);

  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 80px;
  flex-wrap: nowrap;
}

h2 {
  width: 466px;
  height: 94px;
  top: 132px;
  left: 725px;
  color: #0068ff;
  font-size: 32px;
}

label {
  color: lightgray;
}

.textbox {
  font-size: 20px;
  width: 466px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
}

button {
  width: 470px;
  height: 75px;
  border: 1px solid rgba(0, 104, 255, 1);
  border-radius: 10px;
  background-color: #fff;
}
